
body {
	font-size: 12pt;
	font-family: times new roman;
}
h1 {
	color: #7d2779;
}
#container {
            margin: 30px auto;
            width: 900px;
}
#header {
	height: 100px;
    width: 900px;
}
#logoleft {
	background-color: #ebc5eb;
	background-image: url(logo.png);
	float: left;
	height: 100px;
    width: 100px;
}
#logoright {
	background-color: #ebc5eb;
	float: right;
	text-align: center;
	height: 100px;
    width: 800px;
}
#main {
	background-color: #FFF0F5;
	width: 900px;
}
#menu {
	float: left;
	background-color: #FFBBFF;
	width: 150px;
    
}
#content {
	float: right;
	background-color: #FFF0F5;
	text-align: center;
	width: 750px;
    
    overflow: auto;
}
#footer {
	background-color: #ebc5eb;
	float: left;
	text-align: center;
	height: 40px;
    width: 900px;
}



