body {
	font-size: 12pt;
	font-family: times new roman;
}
h1 {
	color: #7d2779;
}
#box12 {
	background-color: #ebc5eb;
text-align: center;
}
#box4 {
	background-color: #FFBBFF;
}
#box8 {
	background-color: #FFF0F5;
text-align: center;

}
